body {
	/* make the body fits our viewport */
	position: relative;
	width: 100%;
	margin: 0;
	}
	#canvas {
	/* make the canvas wrapper fits the document */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	}
	.plane {
	/* define the size of your plane */
	width: 80%;
	height: 80vh;
	margin: 10vh auto;
	}
	.plane img {
	/* hide the img element */
	display: none;
	}
	.spring-physics-demo{
		width: 100px;
	}

	.scevent{
		height: 200vh;
	}