/* Typography */
.sound-only {
    position: absolute;
    left: -999px;
    width: 0;
    height: 0;
    text-indent: -999px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
	/* make the body fits our viewport */
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	font-family: 'SUIT', sans-serif;
}
p,a{
	color: white;
	line-height: 1.4;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a{
	display: block;
}
ol, ul {
    list-style: none;
}
svg{
	width: 100%;
}
.deco{
	font-family: 'The Nautigal', cursive;
	font-weight: bold;
	margin-right: 5px;
}
/* header */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 60px 0;
	z-index: 100;
}
header .inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
header .gnb-menu{
	width: 15%;
	display: flex;
	justify-content: space-between;
}
header .gnb-menu .depth01 li{
	margin-bottom: 8px;
}
header .gnb-menu .depth01 li a{
	font-size: 1.0417vw;
	line-height: 1.2;
}

.visual{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.visual .video-sect{
	position: absolute;
	top: 50%;
	left: 51%;
	transform: translate(-50%,-50%);
	z-index: -2;
}
.visual video{
	width: 40vw;
}
.visual .img-sect{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	width: calc(100% - 120px);
}
.visual .slogan-sect{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.visual .slogan-sect p{
	font-size: 9.8958vw;
	color: white;
	text-align: center;
	font-weight: 500;
}
.visual .slogan-sect .deco{
	color: white;
}
.visual .slogan-top .deco{
	margin-right: 25px;
}
.visual .slogan-bottom .deco{
	margin-right: 10px;
}
.visual .title-sect{
	position: absolute;
	left: 170px;
	top: 118px;
}
.visual .main-title{
	color: white;
	font-size: 2.5vw;
}
.visual .copy-sect{
	position: absolute;
	bottom: 60px;
	left: 60px;
}
.visual .desc-sect{
	position: absolute;
	right: 60px;
	bottom: 60px;
}



.intro{
	padding: 260px 0 280px;
}
.intro p{
	font-size: 5vw;
}
@media screen and (max-width : 1600px) {
	header .gnb-menu .depth01 li a{
		font-size: 16px;
		line-height: 1.2;
	}
}
#canvas {
	/* make the canvas wrapper fits the document */
	position: absolute;
	top: auto;
	right: 0;
	left: 0;
	bottom: 0;
	height: 900px;
	z-index: 100;
}

.plane {
	/* define the size of your plane */
	width: 80%;
	height: 900px;
}

.plane img {
	/* hide the img element */
	display: none;
}

.spring-physics-demo {
	width: 100px;
}

.scevent {
	height: 500vh;
}

#three-canvas {
	width: 100%;
	height: 100vh;
	position: absolute;
	bottom: 0;
	left: 0;
}